<h1>Users::Dashboard#index</h1>
<p>Find me in app/views/users/dashboard/index.html.erb</p>

<h2>User: <%= current_user.email %></h2>
<h2>Credit: <%= current_user.credit %></h2>

<h1>Stocks Owned</h1>
MSFT: <%= @msft_stocks_owned %>
<br>
FB: <%= @fb_stocks_owned %>
<br>
TWRT: <%= @twtr_stocks_owned %>

<h1>Stock List</h1>
<table>
  <th>
    <tr>
      <td>Name</td>
      <td>Price</td>
      <td>Quantity</td>
      <td></td>
      <td></td>
    </tr>
  </th>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.name %></td>
        <td><%= stock.price %></td>
        <td><%= stock.quantity %></td>
        <td><%= link_to 'buy', users_buy_path(stock) %></td>
        <td><%= link_to 'sell my stock', users_sell_path(stock) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Transaction History</h1>
<table>
  <th>
    <tr>
      <td>Stock Name</td>
      <td>Stock Price</td>
      <td>Quantity</td>
      <td>Buy</td>
      <td>Sell</td>
    </tr>
  </th>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.stock_name %></td>
        <td><%= transaction.price %></td>
        <td><%= transaction.quantity %></td>
        <td><%= transaction.buy %></td>
        <td><%= transaction.sell %></td>
      </tr>
    <% end %>
  </tbody>
</table>