<h1>Users::Dashboard#index</h1>
<p>Find me in app/views/users/dashboard/index.html.erb</p>

<h1>Stocks</h1>
<table>
  <th>
    <tr>
      <td>Name</td>
      <td>Price</td>
      <td>Quantity</td>
      <td></td>
      <td></td>
    </tr>
  </th>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.name %></td>
        <td><%= stock.price %></td>
        <td><%= stock.quantity %></td>
        <td><%= link_to 'buy', users_buy_path(stock) %></td>
        <td><%= link_to 'sell', users_sell_path(stock) %></td>
      </tr>
    <% end %>
  </tbody>
</table>