<h1>Admins::Dashboard#index</h1>
<p>Find me in app/views/admins/dashboard/index.html.erb</p>

<table>
  <th>
    <tr>
      <td>id no.</td>
      <td>email</td>
    </tr>
  </th>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.credit %></td>
        <td><% if user.approved == true %>
                Activated
              <% else %>
                Pending
              <% end %>
        </td>
        <td><%= link_to "Approve", admins_approved_path(user), method: :patch %></td>
        <%# method: :patch = def update
        methid: :destroy = def destroy %>
      </tr>
    <% end %>
  </tbody>
</table>